<!-- 
<div [routerLink]="['/shop-details', shop.id, 'products']" class="container">
  <div class="card" style="width: 15rem">
    <div class="card-body shop-item-card">
      <h5 class="card-title">{{ shop.denominazione | titlecase }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ shop.indirizzo | titlecase }}
      </h6>
      <a href="#" class="btn btn-primary">Ordina</a>
    </div>
  </div>
</div> -->

<div [routerLink]="['/shop-details', shop.id, 'products']" class="container">
  <div class="card shadow-sm rounded over" style="width: 18rem">
    <img
      src="{{ shop.img_url }}"
      class="card-img-top"
      alt="{{ shop.denominazione }}"
    />
    <div class="top-right text-bg-danger fs-6 p-2">Top Right</div>
    <div class="card-body">
      <h5 class="card-title text-start">
        {{ shop.denominazione | titlecase }}
      </h5>
      <p class="card-text text-start">{{ shop.indirizzo | titlecase }}</p>
      <p class="card-text text-info h5 text-start">
        <i class="bi bi-star-fill"></i> {{ shop.rating }}
        {{ shop.rating | ratingpipe }}
      </p>
      <a href="#" class="btn btn-primary">Ordina</a>
    </div>
  </div>
</div>
