/* .example-card {
  max-width: 300px;
  min-height: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
} */

.example-header-image {
  background-image: url("https://as1.ftcdn.net/v2/jpg/03/16/30/30/1000_F_316303014_qzT0VBwBMuIDOzTjEpvcuKvIoEo0Yz1E.jpg");
  background-size: cover;
}

.white {
  color: whitesmoke;
}

a {
  flex: 1;
  text-decoration: none;
}

.shop-item-card {
  text-align: center;
  height: 185px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.over {
  position: relative;
}

div.card {
  min-height: 22rem;
  max-height: 22rem;
}

div.card:hover {
  filter: brightness(1.05) drop-shadow(0 0 10px var(--bs-primary)) opacity(0.8);
}
