<!-- <a [routerLink]="['/product-details', product.id]">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="white">
        {{ product.name }}
      </mat-card-title>
      <mat-card-subtitle class="pb-2"
        >{{ product.availability }}
      </mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ product.img_url }}"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p class="description white">
        {{ product.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button mat-button (click)="emitEvent()">OUTPUT</button>
    </mat-card-actions>
  </mat-card>
</a> -->

<div [routerLink]="['/product-details', product.id]">
  <div class="card product-item-card" style="width: 18rem">
    <img
      src="{{ product.img_url }}"
      class="card-img-top"
      alt="{{ product.name }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product.name | titlecase }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">{{ product.price | currency : "EUR" }}</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary" (click)="emitEvent()"
        >Aggiungi al carrello</a
      >
    </div>
  </div>
</div>
