/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

:root {
  --cem-body-bg: #1e90ff;
}
/* 
body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
} */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
